model = "gpt-5.2-codex"
model_reasoning_effort = "high"
tool_output_token_limit = 25000

[features]
web_search_request = true
ghost_commit = false
unified_exec = true
apply_patch_freeform = true
skills = true
shell_snapshot = true
steer = true

[notice.model_migrations]
"gpt-5.2" = "gpt-5.2-codex"

[projects."{{ .chezmoi.homeDir }}/programming/patterns"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/programming/experimentation/dspyCodexExec"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/programming/ontology-lsp"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/programming/tui_md-pdf"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/programming/lehrplanPlus-Visualizer"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/programming"]
trust_level = "untrusted"

[projects."{{ .chezmoi.homeDir }}/.ssh"]
trust_level = "untrusted"

[projects."{{ .chezmoi.homeDir }}/ai-society"]
trust_level = "trusted"

[mcp_servers.server-mindpilot]
command = "node"
args = [
    "{{ .chezmoi.homeDir }}/programming/mindpilot-mcp/dist/mcp/server.js",
    "--disable-analytics",
]

# [mcp_servers.ontology-lsp]
# command = "{{ .chezmoi.homeDir }}/programming/ontology-lsp/mcp-wrapper.sh"
# args = []

# [mcp_servers.vscode-debug]
# url = "http://localhost:4711/sse"
