layout {
    cwd "/home/lightningralf"
    tab name="provisioning" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="pi" cwd="/home/lightningralf/ops/provisioning" size="50%" {
            start_suspended true
        }
        pane command="/usr/lib/electron37/electron" cwd="/home/lightningralf/ops/provisioning" size="50%" {
            args "/usr/lib/obsidian/app.asar"
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="pi-societyChatGPT1" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="pi" name="main" cwd="/home/lightningralf/pi-societyChatGPT1" size="70%" {
            start_suspended true
        }
        pane size="30%" split_direction="vertical" {
            pane command="node" name="web dev" cwd="/home/lightningralf/pi-societyChatGPT1/apps/web" size="25%" {
                args "/home/lightningralf/pi-societyChatGPT1/node_modules/.bin/next" "dev"
                start_suspended true
            }
            pane command="just" cwd="/home/lightningralf/pi-societyChatGPT1/apps/web" size="75%" {
                args "convex"
                start_suspended true
            }
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="lehrplanPLUS" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="pi" cwd="/home/lightningralf/programming/lehrplanPlus-Visualizer" size="50%" {
            start_suspended true
        }
        pane command="uv" cwd="/home/lightningralf/programming/lehrplanPlus-Visualizer" size="50%" {
            args "run" "--group" "api" "granian" "--interface" "asgi" "api.main:app" "--reload"
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Tab #10" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="pi" cwd="/home/lightningralf/programming/zufallsrad" {
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Tab #11" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="pi" cwd="/home/lightningralf/programming/dspx" {
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Tab #12" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="pi" cwd="/home/lightningralf/programming/pi-extensions/template" {
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Tab #14" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="pi" cwd="/home/lightningralf/programming/pi-extensions/secure-package-update" {
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="rik-convex" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="just" cwd="/home/lightningralf/programming/ralph-intent-kit" {
            args "dev"
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="L0-copierAI-S" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="pi" cwd="ai-society" {
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="rik-depdiet" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="pi" name="main" cwd="programming/rik-depdiet" size="70%" {
            start_suspended true
        }
        pane size="30%" split_direction="vertical" {
            pane command="node" cwd="programming/rik-depdiet" size="50%" {
                args "/home/lightningralf/programming/rik-depdiet/node_modules/.bin/convex" "dev" "--env-file" "/home/lightningralf/programming/rik-depdiet/.env.local"
                start_suspended true
            }
            pane command="sleep" name="depdiet artifacts view" cwd="programming/rik-depdiet" size="50%" {
                args "5"
                start_suspended true
            }
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="appmap" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="node" name="appmap visualizer" cwd="programming/rik-depdiet" {
            args "/home/lightningralf/programming/rik-depdiet/node_modules/.bin/appmap" "rpc" "--ui" "--port" "38999"
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="depViz" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="pi" cwd="programming/rik-depviz" {
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Tab #24" focus=true hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="pi" cwd="programming/orgmem2" focus=true {
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    new_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane cwd="/home/lightningralf/programming/orgmem2"
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    swap_tiled_layout name="vertical" {
        tab max_panes=5 {
            pane size=1 borderless=true {
                plugin location="tab-bar"
            }
            pane {
                pane split_direction="vertical" {
                    pane
                    pane {
                        children
                    }
                }
            }
            pane size=1 borderless=true {
                plugin location="status-bar"
            }
        }
        tab max_panes=8 {
            pane size=1 borderless=true {
                plugin location="tab-bar"
            }
            pane {
                pane split_direction="vertical" {
                    pane {
                        children
                    }
                    pane {
                        pane
                        pane
                        pane
                        pane
                    }
                }
            }
            pane size=1 borderless=true {
                plugin location="status-bar"
            }
        }
        tab max_panes=12 {
            pane size=1 borderless=true {
                plugin location="tab-bar"
            }
            pane {
                pane split_direction="vertical" {
                    pane {
                        children
                    }
                    pane {
                        pane
                        pane
                        pane
                        pane
                    }
                    pane {
                        pane
                        pane
                        pane
                        pane
                    }
                }
            }
            pane size=1 borderless=true {
                plugin location="status-bar"
            }
        }
    }
    swap_tiled_layout name="horizontal" {
        tab max_panes=4 {
            pane size=1 borderless=true {
                plugin location="tab-bar"
            }
            pane {
                pane
                pane
            }
            pane size=1 borderless=true {
                plugin location="status-bar"
            }
        }
        tab max_panes=8 {
            pane size=1 borderless=true {
                plugin location="tab-bar"
            }
            pane {
                pane {
                    pane split_direction="vertical" {
                        children
                    }
                    pane split_direction="vertical" {
                        pane
                        pane
                        pane
                        pane
                    }
                }
            }
            pane size=1 borderless=true {
                plugin location="status-bar"
            }
        }
        tab max_panes=12 {
            pane size=1 borderless=true {
                plugin location="tab-bar"
            }
            pane {
                pane {
                    pane split_direction="vertical" {
                        children
                    }
                    pane split_direction="vertical" {
                        pane
                        pane
                        pane
                        pane
                    }
                    pane split_direction="vertical" {
                        pane
                        pane
                        pane
                        pane
                    }
                }
            }
            pane size=1 borderless=true {
                plugin location="status-bar"
            }
        }
    }
    swap_tiled_layout name="stacked" {
        tab min_panes=5 {
            pane size=1 borderless=true {
                plugin location="tab-bar"
            }
            pane {
                pane split_direction="vertical" {
                    pane
                    pane stacked=true {
                        children
                    }
                }
            }
            pane size=1 borderless=true {
                plugin location="status-bar"
            }
        }
    }
    swap_floating_layout name="staggered" {
        floating_panes {
        }
    }
    swap_floating_layout name="enlarged" {
        floating_panes max_panes=10 {
            pane cwd="/home/lightningralf/programming/orgmem2" {
                height "90%"
                width "90%"
                x "5%"
                y 1
            }
            pane cwd="/home/lightningralf/programming/orgmem2" {
                height "90%"
                width "90%"
                x "5%"
                y 2
            }
            pane cwd="/home/lightningralf/programming/orgmem2" {
                height "90%"
                width "90%"
                x "5%"
                y 3
            }
            pane cwd="/home/lightningralf/programming/orgmem2" {
                height "90%"
                width "90%"
                x "5%"
                y 4
            }
            pane cwd="/home/lightningralf/programming/orgmem2" {
                height "90%"
                width "90%"
                x "5%"
                y 5
            }
            pane cwd="/home/lightningralf/programming/orgmem2" {
                height "90%"
                width "90%"
                x "5%"
                y 6
            }
            pane cwd="/home/lightningralf/programming/orgmem2" {
                height "90%"
                width "90%"
                x "5%"
                y 7
            }
            pane cwd="/home/lightningralf/programming/orgmem2" {
                height "90%"
                width "90%"
                x "5%"
                y 8
            }
            pane cwd="/home/lightningralf/programming/orgmem2" {
                height "90%"
                width "90%"
                x "5%"
                y 9
            }
            pane cwd="/home/lightningralf/programming/orgmem2" {
                height "90%"
                width "90%"
                x 10
                y 10
            }
        }
    }
    swap_floating_layout name="spread" {
        floating_panes max_panes=1 {
            pane cwd="/home/lightningralf/programming/orgmem2" {
                x "50%"
                y "50%"
            }
        }
        floating_panes max_panes=2 {
            pane cwd="/home/lightningralf/programming/orgmem2" {
                width "45%"
                x "1%"
                y "25%"
            }
            pane cwd="/home/lightningralf/programming/orgmem2" {
                width "45%"
                x "50%"
                y "25%"
            }
        }
        floating_panes max_panes=3 {
            pane cwd="/home/lightningralf/programming/orgmem2" {
                height "45%"
                width "45%"
                y "55%"
            }
            pane cwd="/home/lightningralf/programming/orgmem2" {
                width "45%"
                x "1%"
                y "1%"
            }
            pane cwd="/home/lightningralf/programming/orgmem2" {
                width "45%"
                x "50%"
                y "1%"
            }
        }
        floating_panes max_panes=4 {
            pane cwd="/home/lightningralf/programming/orgmem2" {
                height "45%"
                width "45%"
                x "1%"
                y "55%"
            }
            pane cwd="/home/lightningralf/programming/orgmem2" {
                height "45%"
                width "45%"
                x "50%"
                y "55%"
            }
            pane cwd="/home/lightningralf/programming/orgmem2" {
                height "45%"
                width "45%"
                x "1%"
                y "1%"
            }
            pane cwd="/home/lightningralf/programming/orgmem2" {
                height "45%"
                width "45%"
                x "50%"
                y "1%"
            }
        }
    }
}
